.navbar {
  width: 95.5%;
  padding: 12px 40px;

  position: fixed;
  top: 0;
  left: 49.9%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 14px;

  background: rgba(255, 255, 255, 0); /* transparent white */

  z-index: 1000;

  transition: background-color 0.35s ease,
              backdrop-filter 0.35s ease,
              box-shadow 0.35s ease;
}

/* SCROLL par white + blur */
.navbar-black {
  background-color: rgba(255, 255, 255, 0.95);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}



/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0f172a; /* dark text */
  font-weight: 600;
  font-size: 20px;
}

.logo img {
  height: 70px;
  width: auto;
  transition: transform 0.35s ease;
}

/* Logo hover zoom */
.logo img:hover {
  transform: scale(1.08);
}


/* Desktop nav */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #0f172a; /* dark text */
  font-size: 15px;
  font-weight: 500;
  position: relative;

  transition: all 0.3s ease;
}


/* Hover zoom + color */
.nav-links li a:hover {
  color: #0ea5e9;
  transform: scale(1.12);
}


/* Premium underline animation */
.nav-links li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #0ea5e9, #38bdf8);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-links li a:hover::after {
  width: 100%;
}


/* Burger icon */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 1.2rem;
}

.burger span {
  height: 3px;
  width: 25px;
  background-color: #0f172a; /* dark lines */
  margin: 4px 0;
  transition: 0.3s;
}


/* Burger hover effect */
.burger:hover span {
  background-color: #0ea5e9;
}


/* Tablet & Mobile */
@media (max-width: 992px) {

  .burger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.98);

    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding: 25px 0;

    display: none;

    border-radius: 0 0 14px 14px;

  }

  .nav-links.open {
    display: flex;
  }

}
/* Hamburger click → navbar white */
.navbar.menu-open {
  background: rgba(255, 255, 255, 0.98) !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}