/* SECTION HEADING */
.why-heading {
  text-align: center;
  margin-bottom: 50px;
}

.why-heading h2 {
  font-size: 36px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 10px;
}

.why-heading p {
  font-size: 16px;
  color: #64748b;
  max-width: 650px;
  margin: auto;
}

.why-solar {
  padding: 80px 20px;
  background:
    radial-gradient(circle at top left, #d1fae5 0%, transparent 40%),
    radial-gradient(circle at bottom right, #bae6fd 0%, transparent 40%),
    #f8fafc;
}


.why-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
/* FLOATING ANIMATION */
.solar-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 35px 20px;
  text-align: center;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.459);

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  /* Continuous floating */
 animation: 
  floating 4s ease-in-out infinite,
  fadeInOut 3s ease-in-out infinite;
}
.solar-card:nth-child(1) {
  animation-delay: 0s;
}

.solar-card:nth-child(2) {
  animation-delay: 0.5s;
}

.solar-card:nth-child(3) {
  animation-delay: 1s;
}

.solar-card:nth-child(4) {
  animation-delay: 1.5s;
}

.solar-card:nth-child(5) {
  animation-delay: 2s;
}

.solar-card:nth-child(6) {
  animation-delay: 2.5s;
}



/* STOP floating on hover */
.solar-card:hover {
  animation-play-state: paused, paused;

  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 45px rgb(0, 0, 0);
}


/* Floating keyframes */
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* FADE IN - OUT LOOP */
@keyframes fadeInOut {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

/* ICON */
.solar-card img {
  height: 70px;
  margin-bottom: 20px;
}

/* TEXT */
.solar-card h3 {
  font-size: 18px;
  font-weight: 500;
  color: #334155;
  line-height: 1.4;
}

/* INITIAL STATE (hidden) */
.why-heading,
.solar-card {
  opacity: 0;
  transform: translateY(40px);
}

/* WHEN SECTION IS VISIBLE */
.why-solar.show .why-heading {
  animation: fadeUp 0.8s ease forwards;
}

.why-solar.show .solar-card {
  animation: fadeUp 0.8s ease forwards;
}

/* STAGGER EFFECT */
.why-solar.show .solar-card:nth-child(1) { animation-delay: 0.2s; }
.why-solar.show .solar-card:nth-child(2) { animation-delay: 0.3s; }
.why-solar.show .solar-card:nth-child(3) { animation-delay: 0.4s; }
.why-solar.show .solar-card:nth-child(4) { animation-delay: 0.5s; }
.why-solar.show .solar-card:nth-child(5) { animation-delay: 0.6s; }
.why-solar.show .solar-card:nth-child(6) { animation-delay: 0.7s; }

/* KEYFRAMES */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .why-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .why-container {
    grid-template-columns: 1fr;
  }
}
